h1{
    font-size:25px;
    font-weight: bold;
}
ul{
    line-height: 29px;
    font-size: 20px;
}
body{
    background-image: url(dog3.jpg);
    background-size:cover;
    background-blend-mode:hard-light;
}
.box1{
    float:left;
    width:50%;
}
.box2{
    text-transform: capitalize;
   
}
.info{
    border:1px solid black;
    border-radius:10%;
    width:250px;
    
}
.info_1{
    float:right;
    width:258px;
    border:1px solid black;
    border-radius:10%;
    margin-right: 70px;
    
}
.title{
    border:1px solid rgb(163, 135, 135);
    text-transform: capitalize;
    font-weight: bold;
    word-spacing: 25px;
    font-size: 17px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color:rgb(178, 145, 213);
    
}
a{
    text-decoration: none;
}
a:hover{
    color:antiquewhite;
}
